bodyy{
    background: radial-gradient(white 30%, green 60%, red);
}

h3,h4{
    margin: 1px;
}
ul{
    font-size: 1.1rem;
    line-height: 1.5;
}
.contact{
    margin: auto;
    margin-top: 180px;
    max-width: 800px;
    padding: 10px;
}
.contact p{
    margin: 5px;
}
.email_phone{
    display: flex;
    align-items: center;
    margin-top:1px;
}
.email_phone > img{
    height: 22px;
    margin: 1px;
}
footer{
    position: relative;
    bottom: 0px;
}