
h3,h4{
    margin: 1px;
}
ul{
    font-size: 1.1rem;
    line-height: 1.5;
}
.back{
    margin: auto;
    margin-top: 170px;
    max-width: 900px;
    background-image: url('./background1.jpg');
    background-origin: padding-box;
    background-position: left;
    background-size: cover;

}
.contact{
    margin: auto;
    padding: 10px;
    max-width: 900px;
    background-color: antiquewhite;
    background: linear-gradient(90deg, rgb(252, 244, 233)30%, rgba(255, 255, 255, 0.28),rgb(252, 244, 233));
}
.contact p{
    margin: 5px;
}
.email_phone{
    display: flex;
    align-items: center;
    margin-top:1px;
}
.email_phone > img{
    height: 22px;
    margin: 1px;
}
footer{
    position: relative;
    bottom: 0px;
}