.content1{
    margin-top: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content1 > img{
    max-width: 360px;
    width: 40%;
    margin: 10px;
    height: auto;
    min-width: 300px;
}

